/* You can add global styles to this file, and also import other style files */

/* Global body and html styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6; /* Light grayish-cyan */
  color: #333333; /* Dark Gray */
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}
